body{
    width: 712px;
    padding: 20px 28px 0;
}
#wrap{
     width: 100%;
 }
#wrap>header{
    width: 100%;
    height: 120px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
header>nav{
    width: 528px;
    padding-top: 0;
}
header>nav>ul{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: flex-end;
}
header>nav>ul>li{
    width: 90px;
    height: 100%;
}
header>nav>ul>li>a{
    text-align: center;
    height: 100%;
    padding-left:0;
    font-size: 14px;
    padding-top: 70px;
    justify-content: center;
    background-position: 29px 25px
}
header>nav>ul>li>a:hover{
    background-position:29px 30px;
}
aside{
    display:none;
}
