body{
    width: 320px;
    padding: 0;
}
#wrap{
    width: 100%;
}
#wrap>header {
    width: 100%;
    height: 190px;
    justify-content: space-between;
    flex-flow: column-reverse nowrap;
}
header>#logo{
    margin: 0 auto;
    width: 120px;
    height: 120px;
}
header>nav{
    width: 315px;
    height: 50px;
    padding-top: 0;
    margin-right:0;
    align-self: flex-end;
    border-bottom: 1px solid #E5E5E5;
}
header>nav>ul{
    height: 100%;
}
header>nav>ul>li{
    height: 50px;
}
header>nav>ul>li>a{
    height: 50px;
    font-size: 10px;
    background:none !important;
    line-height: 50px;
    padding-top: 0;
}
.content{
    width: 320px;
    height: 1913px;
    float: right;
}
#featured{
    height: 280px;
}
.slides{
    width: 320px;
    height: auto;
}
.slides>div{
    height: 280px;
}
.slides img {
    height: 248px;
}
.slides>div>a>h1,.slides>div>a>h2{
    width: 300px;
    display: block;
}
.slides>div>a>h1{
    background: #FFF;
    top: 180px;
    padding: 10px 10px;
    background: rgba(255,255,255,.8);
    font-size: 0.675em;
}
.slides>div>a>h2{
    top:214px;
    padding: 9px 10px 11px;
    font-size: .675em;
}
.slides>div>p{
    top:248px;
}
#newsletter{
    height: 122px;
}
#newsletter>p{
    width: 242px;
    height: 48px;
    padding: 14px 15px 0 63px;
    font-size: .6875em;
}
#newsletter>form{
    margin-top: 15px;
    padding-left: 15px;
    height: 24px;
    float: left;
}
#newsletter>form>input:nth-child(1){
    width: 160px;
}
#recent{
    height: 1432px;
    flex-flow: row wrap;
    align-content: space-between;
}
#recent>div{
    width: 280px;
}
#recent>div>a>img {
    width: 258px;
}